{% extends "header.html" %}
{% block content %} 
<div class="row">
    <div class="large-2 columns">
    </div>
    <div class="large-10 columns">
        <div class="row">
        <div class="large-12 columns">
            </div>
            <h3>Create a New Prison</h3>
            <form action="{% url 'prison_create' %}" method="post">
                {% csrf_token %} 
                <div class="row">
                    <div class="large-6 columns">
                        <label>Prison Name:
                            <input type="text" name="prison_name" placeholder="Name" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Prison Address:
                            <input type="text" name="prison_address" placeholder="Enter an address" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Prison Rules:
                            <input type="text" name="prison_rules" placeholder="Enter the prison rules" />
                        </label>
                    </div>
                </div>
                <div class="row"> 
                    <div class="large-6 columns">
                        <input type="submit" class="button" value="Submit!">
                    </div>
                </div>
            </form>         
        </div>
    </div>
    </div>
        {% endblock %}