{% extends "header.html" %}
{% block content %} 
<div class="row">
    <div class="large-2 columns">
    </div>
    <div class="large-10 columns">
        <div class="row">
        <div class="large-12 columns">
            </div>
            <h3>Register a New Prisoner</h3>
            <form action="{% url 'prisoner_create' %}" method="post">
                {% csrf_token %} 
                <div class="row">
                    <div class="large-6 columns">
                        <label>Name:
                            <input type="text" name="name" placeholder="Name" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Prison:
                        	<select name="prison">
                        	<option value="-1">Not Specified</option>
                        	{% for prison in prison_list %}
                        	<option value="{{ prison.id }}">{{ prison.name }}</option>
                        	{% endfor %}
                        	</select>
                        </label>
                    </div>
                </div>
                <div class="row">
                	<div class="large-6 columns">
                		<label>Mailing Address:
                			<input type="text" name="mailing_address" placeholder="Enter a mailing address" />
                		</label>
                	</div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Mailing Rules:
                            <input type="text" name="prison_rules" placeholder="Enter specific mailing rules" />
                        </label>
                    </div>
                </div>
                <div class="row"> 
                    <div class="large-6 columns">
                        <input type="submit" class="button" value="Submit!">
                    </div>
                </div>
            </form>         
        </div>
        {% endblock %}