
{% extends "header.html" %}
{% block content %} 
{% load staticfiles %}

<div class="row">
		<div class="large-12 columns">
<div class="large-4 columns" id="home-4-col1">
	<a href="{% url "prisoner_list" %}">
	<img src="{% static "images/prisoners.jpg" %}" class="home-img"/>
</a>
<h4>Prisoners</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork. </p>
</div>
<div class="large-4 columns" id="home-4-col2">
	<a href="{% url "program_list" %}">
<img src="{% static "images/books.jpg" %}" class="home-img"/>
</a>
<h4>Programs</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork.</p>
</div>
<div class="large-4 columns" id="home-4-col3">
	<a href="{% url "new_letter" %}" >
<img src="{% static "images/letters.jpg" %}" class="home-img"/>
</a>
<h4>Letters</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork.</p>
</div>
</div>
</div>
<div class="row">
		<div class="panel radius" id="home-panel">
			<h4 class="bot">Donation</h4>
			<div class="row">
				<div class="large-9 columns">
					<p class='msg'> Your support helps to keep our many prisoner programs going. 
					</p>
				</div>
				<div class="large-3 columns">
					<a href="mailto:alt-lib@cornell.edu" class="small radius button right "id="bot" >Donate</a>
				</div>
			</div>
		</div>
</div>
 
<footer class="row">
<div class="large-12 columns">
<hr>
</div>
<div class="row">
<div class="large-12 columns">
<p class="foot">© Copyright Durland Library  &nbsp - &nbsp
	127 Anabel Taylor Hall &nbsp -  &nbsp Cornell University  &nbsp -  &nbsp Ithaca, NY 14853

<br> phone: (607) 255-6486  &nbsp | &nbsp email: alt-lib@cornell.edu</p>
</div>
</div>
</footer>

{% endblock %}