
{% extends "header.html" %}
{% block content %} 
{% load staticfiles %}

<div class="row">
		<div class="large-12 columns">
<div class="large-4 columns" id="home-4-col1">
	<a href="{% url "prisoner_list" %}">
	<img src="{% static "images/prisoners.jpg" %}" class="home-img"/>
</a>
<h4>Prisoners</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork. </p>
</div>
<div class="large-4 columns" id="home-4-col2">
	<a href="{% url "program_list" %}">
<img src="{% static "images/books.jpg" %}" class="home-img"/>
</a>
<h4>Programs</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork.</p>
</div>
<div class="large-4 columns" id="home-4-col3">
	<a href="{% url "new_letter" %}" >
<img src="{% static "images/letters.jpg" %}" class="home-img"/>
</a>
<h4>Letters</h4>
<p>This web site offers an opportunity to learn more about the programs Prisoner Express is currently offering, and, more importantly, a chance to read the writings and view the artwork of prisoners who are enrolled in our programs. We invite you to learn about the prison experience through their writings and artwork.</p>
</div>
</div>
</div>
<div class="row">
		<div class="panel radius" id="home-panel">
			<h4 class="bot">Donation</h4>
			<div class="row">
				<div class="large-9 columns">
					<p class='msg'> Your support helps to keep our many prisoner programs going. 
					</p>
				</div>
				<div class="large-3 columns">
					<a href="#" data-reveal-id="DonateModal" class="radius right button">Donate</a>	<div id="DonateModal" class="reveal-modal" data-reveal>

						<h2>Donate to Prisoner Express</h2>

						<p>Your support helps to keep our many prisoner programs going.  For donations of...</p>

						<ul>
							<li>$15.00, you will receive your choice of a poetry book.</li>
							<li>$25.00 or more, you will receive both of the poetry books shown below.</li>
							<li>$35.00 or more you will receive both books and a set of postcards created from prisoners'	envelope art.</li>
						</ul>

						<p>The library is a tax exempt organization.  Anyone receiving books or cards for the stated donations cannot claim the donation for an income tax deduction.  Donations that are not given in exchange for gifts are tax deductible. Any amount in addition to the $35.00 is tax deductible.</p>

						<p> You can use paypal below to make your donations or you can print out our <a href="donation_form.html">Donation form </a> and send a check made payable to Alternatives Library.  Checks can be sent to the address at the bottom of the page.</p>


						<table class="donate">
							<tbody>
								<tr>
									<td>"Another Sad Inning"</td>
									<td> 
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
									<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
									MIIHkAYJKoZIhvcNAQcEoIIHgTCCB30CAQExggEwMIIBLAIBADCBlDCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJ
									KoZIhvcNAQEBBQAEgYCBRrPy5BKWz6efxpmYkM3MQEdeEnbdUVJ+Cp4g0nMhD91u
									D43MTpb8YFhB5pYKx6Kx3z58//rgGb/FRFLcJfS75WALV7fKL31ZwiSnequZj/f5
									p8DPVRRgXkg0yEvu44ey9rcZ6dynnWW9h0NuUoWtuCIzsXufysxRzMw7AdkcjzEL
									MAkGBSsOAwIaBQAwggEMBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECP/IX7A4vh94
									gIHoILq0Nq9bCoryAgAGG58fIOlaZN3Rxd52eM3cI+MgQxsecBsH1kYzXMrQBmyD
									aWS2guTuYrhYI3eXB6yyxx7OzTOuDDWY+l6nugTG9PxFm4kYRNx3GT42g6M2H5fo
									EEhd+qMiiUz+z0U7QHCbdKzecgf+SXIO7PNO/GUeH3z6UN+n4eD8zLAvw9zKRC7i
									3jHKBl0bH17/qm2nF8S2zWybqbWltTJnqV4LIdrT5uo+ll6YBGYg2smY8aSpYOcj
									GBHkPMq01ETfCwC/Coh2jwQ09g30ucBlUv+QHycrOvWpPwHwuv420xy/1aCCA4cw
									ggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzEL
									MAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1Bh
									eVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2Fw
									aTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVa
									Fw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAU
									BgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYD
									VQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJ
									ARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO
									3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhL
									V8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZ
									qIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4E
									FgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71Z
									P1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEW
									MBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzAR
									BgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcN
									AQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEF
									BQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Th
									ia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhG
									I+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIB
									ATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3Vu
									dGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9j
									ZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBh
									bC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEw
									HAYJKoZIhvcNAQkFMQ8XDTA0MDQxMDE4NDIzM1owIwYJKoZIhvcNAQkEMRYEFFPG
									Rmr+Ed4i5pf5mtsU+DZHY+E5MA0GCSqGSIb3DQEBAQUABIGAMd42marglf6lJQ5e
									2iUhFgkpaJ8TUbngY4FvWE9gGu6pfNRAh8BL7K20IF9usU2w4hDkCyeKj0ft62me
									d9L4UOc2PBZ0Hb97Lf+CFUmAdK5SRAUUCHwq3b07B0OX7o05PGS561WF46lykean
									2FVJ2fnjEbgfj57p6OybTcmWjZo=
									-----END PKCS7-----
									">
									</form>
									</td>
								</tr>

								<tr>
									<td>"Inside Coming Out"</td>
									<td> 
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
									<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
									MIIHkAYJKoZIhvcNAQcEoIIHgTCCB30CAQExggEwMIIBLAIBADCBlDCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJ
									KoZIhvcNAQEBBQAEgYCO5bUgdHZCckMHW7FlkRmKzjqleQqTtAdjrdqm0se2NBTH
									l3tVXnxEI/rTJknJ1EHPZ0gV2DbttRFKbazXkh3E/ul9zvHmO4euNXI0OSNz62rY
									rTpTSwmZPaTgpqLbZwc/IzDWKT5MQ5WGt5BiFAJSAvfmGEsf994DfqXZjZY8aDEL
									MAkGBSsOAwIaBQAwggEMBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECNjRFKodGr9o
									gIHoOnu71qcOGB9VPYOy2lmS80vMIMl3ij6bJTp3JTL/f7WHmSTrQVN9QoL2+tpG
									GS92dpU04wBRPUskCotFIeAZNxMamNuAvRGnSK4bpXx+4R/3RvMlMi3gz88yRliy
									SVHDBZwdMNO0Xw6WVWyhwNv2BDTh9ljkyOjpETX0MDlcYkGrug8KnHZuPzIJ+JhD
									uKaG4J1DYYSrJpa3+H2pHvyBZ5gEY0Z1MaV3vf1nucj4gKO3I8XS8HJsUNheUj4X
									tzgh4K4p8uNG7bSBPAooZE3XFx648PPcM8fS1na1OFpVA3iua7JXzYr986CCA4cw
									ggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzEL
									MAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1Bh
									eVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2Fw
									aTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVa
									Fw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAU
									BgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYD
									VQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJ
									ARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO
									3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhL
									V8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZ
									qIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4E
									FgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71Z
									P1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEW
									MBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzAR
									BgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcN
									AQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEF
									BQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Th
									ia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhG
									I+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIB
									ATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3Vu
									dGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9j
									ZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBh
									bC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEw
									HAYJKoZIhvcNAQkFMQ8XDTA0MDQxMDE4NDMxN1owIwYJKoZIhvcNAQkEMRYEFHX5
									t4IzVTsTqlfOp5b3imG6tHgYMA0GCSqGSIb3DQEBAQUABIGAe9eKHivhIU3M6BX9
									0lPtHWqt/eOfWuqoo76FKiDPwkKz03f602//FRvNFpIPRdAqEP/u4x0scGGtyaui
									l4SRSHlm5/xS0pT9uoKmDaIqRKDXBaEG4nW5eEoGFHgTA6z9BYg2Yc27PXrlf4Os
									ZahxmhxSvXZ2GDfkDfNW+KybvlM=
									-----END PKCS7-----
									">
									</form>
									</td>
								</tr>

								<tr>
									<td>Both Books</td>
									<td>
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
									<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
									MIIHqQYJKoZIhvcNAQcEoIIHmjCCB5YCAQExggEwMIIBLAIBADCBlDCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJ
									KoZIhvcNAQEBBQAEgYAVgWRTXpXzmQS4MRUm3MHL+1EK9Js1ZdW2U3C/nPY0Q5HV
									yhHZ4YzApgP6ABfIQHX0Nj17TNJ3NEntrYuEqKviKVYuCmi7eNoHC0e9FwSGR/ew
									qqQ1Ztw6RuzPWRHWgUYbZaTrBSVym/Ki++iRn7LhQ1eJ6QvFYCIgfmZiv4+kGzEL
									MAkGBSsOAwIaBQAwggElBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECCeMcoZdKBdX
									gIIBADzEN+UHB8VakEeZDFwGPAGs2Bq0ETnJBOoPDzs1abmgmB65X1z3h1XGZj7F
									Okz8WkDofjvs6YuF3dg2WvnAoOfl0PEWoV9SpGO99x7YnzZIwnNYSxj9Cd9PYEQa
									0G3v+RU/5xGzjENiiLmn3PHc9sDoIYtQv6T0S5JKArguWLmk9QAWWK8i86Jd8EEV
									yOPeZEkDO0cREQBNgycSpHFR5uTy0T25/HuSf8FHITZ8Zq/t0L3wwxUmOG3oogXE
									4awDx797nBnDMS6j5sqc3NpUYytg0I23lw8P6CXs8MgAIP+5dP+q2uRTym0OFeKW
									/J+KPs3JajTPpc4uZHEqtLXhtOWgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG
									9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1N
									b3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2
									ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBh
									eXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJ
									KoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw
									+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/R
									Gqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2
									Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRr
									MIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQsw
									CQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcx
									FDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYD
									VQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAM
									BgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbW
									FSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYD
									wcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4
									qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQsw
									CQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5
									UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBp
									MRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAY
									BgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0wNDA0MTAx
									ODQzNTJaMCMGCSqGSIb3DQEJBDEWBBT77rqabm+gE3hdctLRpQHDEM0B9jANBgkq
									hkiG9w0BAQEFAASBgJeyVcGnv4tNhFiR5sDCVyuHN9dLslgkuINBhiF7nvPrLNfY
									uT22GRG3Sc5vf4I5EuA0KJ41kgQqZ+z3CUJ3lAgyFm34yVJpHLt27H3upFTRzQcg
									3XM7JQbrR+JnD2kvJvpGfJmZO7GdRdydLhiRAzKNX41V7K3zHKQI61dSSp9A
									-----END PKCS7-----
									">
									</form>
									</td>
								</tr>

								<tr>
									<td>Both Books &amp; Postcards</td>
									<td>
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
									<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
									MIIHkAYJKoZIhvcNAQcEoIIHgTCCB30CAQExggEwMIIBLAIBADCBlDCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJ
									KoZIhvcNAQEBBQAEgYAdRO6hsSP9HDa9IcmDAyCUwaDw75BcBWYjSoCZ1UFMOO2B
									RdMpzuCzrfNuxrpOOB0NMzENYo+1EwK/k9pfPZWdR115HPm16iHs7BKwwrA9mjqE
									zdNfxuvwNyOfG2S7ZeT1BbIjWbjGe2oSHAv2hhcAvNHkb5wvGX1ZXEEOGby32TEL
									MAkGBSsOAwIaBQAwggEMBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJ4TF2mj8XAF
									gIHoHpGuEJo285iIHNUEwiToERtNxFJr172CqzEXyz1kqeIDnoKYFkehdHbPl0df
									S76AhV2I7a4mXgFF46PiyqKTVYQHU+BEe2DFyADKdM7ZGU8yLl8PWoqyF3T/AsKi
									AYarDchcg9RkG6X8V3v5nHmyzY1JiVrlrmXcKcmR5CcjKONDT24IWkFZ7LgsZIDE
									hfVvKd2ufE8ZnACofOJyAZZ9hhVS67IKA4zUyAzS8NL2IFdVFdvA/eRpIbBwmc82
									RWMknU9qS5/giB1vBJKdCtqozspTLTDQYEPYvX8QBChTbf8qshbn6z5ojaCCA4cw
									ggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzEL
									MAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1Bh
									eVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2Fw
									aTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVa
									Fw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAU
									BgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYD
									VQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJ
									ARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO
									3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhL
									V8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZ
									qIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4E
									FgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71Z
									P1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEW
									MBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzAR
									BgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcN
									AQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEF
									BQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Th
									ia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhG
									I+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIB
									ATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3Vu
									dGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9j
									ZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBh
									bC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEw
									HAYJKoZIhvcNAQkFMQ8XDTA0MDQxMDE4NDYwN1owIwYJKoZIhvcNAQkEMRYEFC2w
									QHZesGcK5/T7CNEakQbKSgz6MA0GCSqGSIb3DQEBAQUABIGAXnPKF2mGN6D/wuxI
									/i02fIWmO3QSnQ7lnjx6GxHWYuf2NsSzsbvUs80cWVqodODJvOWz0EAr+Oq1IJ+d
									MKfexQNLvRK0x+dKfxl+4HNX9ls7Wb6FYmlv64TIv08CATXTCNSAcfC7NnAaq7OJ
									nEGYp/AcSsGe/mCL77wPGeiK5Tw=
									-----END PKCS7-----
									">
									</form>
									</td>
								</tr>

								<tr>
									<td>Donate (no books will be sent)</td>
									<td>
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="blank">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
									<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----
									MIIHkAYJKoZIhvcNAQcEoIIHgTCCB30CAQExggEwMIIBLAIBADCBlDCBjjELMAkG
									A1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQw
									EgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UE
									AxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJ
									KoZIhvcNAQEBBQAEgYClTG6OiYsSCb2nHdmp+odDTwzyoPGDneYkg+IiyEz9y0/i
									DmPqHKHuBeeBICW98zlOwhXH03jwQnRWqEF0WstzjZn65VzAzvN5ELiBbZQaF+FX
									zt4+BvDDBxHvGmhjfR8OBPClQMzycF126slsKFv/Ev0W8gEe+0Ew2t9Q7NqfsDEL
									MAkGBSsOAwIaBQAwggEMBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECGF8nQxcgxGT
									gIHoHTle+CHfVK5ULmnZFwgsQnb+CViPX5fU/VDgOAZJg7BAQCRi+czINeGOPY4u
									RVZEgHVPvqzxzT5xWsgc5wL3N7QHnb67XYZ94cPkMziOLdM0CWAwWN/CYEWMEa3N
									+t/BdxhSN0y9foeo/41ZL/J2DuBYqt0Gsnt1bF0Xw0zL/tb8DD+N8bKjVAVIaJix
									ECFUqO/9nNCLhQMLCPIqTDN5vXQGTSoKmxaORN+5TnBLxBCXWV899XFSWamQgha4
									g9AC622gb4dQD1of4E4hXAgStxyBM81PmievrellrqQARnmq3KFA3cvM96CCA4cw
									ggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzEL
									MAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1Bh
									eVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2Fw
									aTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVa
									Fw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAU
									BgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYD
									VQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJ
									ARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO
									3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhL
									V8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZ
									qIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4E
									FgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71Z
									P1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEW
									MBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzAR
									BgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcN
									AQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEF
									BQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Th
									ia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhG
									I+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIB
									ATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3Vu
									dGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9j
									ZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBh
									bC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEw
									HAYJKoZIhvcNAQkFMQ8XDTA0MDQxMDE4NDgyM1owIwYJKoZIhvcNAQkEMRYEFA7T
									KhHGEtcu7KBib6f1SsM0kpTzMA0GCSqGSIb3DQEBAQUABIGAT7SynWsj/ewG0NVJ
									pbSVDcIQ3K05ABWximOYPNJvlc1r00hGDzYlnY926QyY1U4WkOmsqPEajLnGS7yl
									Z2FdVEgZemb9pEk1uMjbZmJSolGRoJVIYvF8Yn2Xx55+LJJtNw9yVhkWx1BroXga
									Cy+j5GIJKFrhMFHiayiAlQRDuQ4=
									-----END PKCS7-----
									">
									</form>
									</td>
								</tr>
							</tbody>
						</table>					
					</div>
				</div>
			</div>
		</div>
</div>



<footer class="row">
<div class="large-12 columns">
<hr>
<div class="row">
<div class="large-6 columns">
<p class="foot">© Copyright Durland Library,
	127 Anabel Taylor Hall - Cornell University - Ithaca, NY 14853
phone: (607) 255-6486 * email: alt-lib@cornell.edu</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
</ul>
</div>
</div>
</div>
</footer>

{% endblock content %}
{% block body_js %}
	<script src="{% static "foundation/js/foundation/foundation.reveal.js" %}"></script>
{% endblock body_js %} 