{% extends "header.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
	<div class="large-12 columns text-center">
		<h1> {{ object.name }} </h1>
	</div>
</row>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Parent Program:</h5> 
	</div>
	<div class="large-8 columns">
		<h5>{{ object.parent.name }}</h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns"> 
		<h5>Description:</h5> 
	</div>
	<div class="large-8 columns">
		<h5> {{ object.description }} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5> Created On:</h5>
	</div>
	<div class="large-8 columns">
		<h5>{{ object.create_date }}</h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Current?</h5>
	</div>
	<div class="large-8 columns">
		<h5>{{ object.is_current }}</h5>
	</div>
</div>
<div class="row">
	<div class="large-12 text-center columns">
		<h3>Participants:</h3>
	</div>
</div>
	{% for prisoner in object_list %}
	<div class="row">
		<div class="large-2 columns">
			<h8> {{ prisoner.prisoner_id_raw }}</h8>
		</div>
		<div class="large-10 columns">
			<h8>{{ prisoner.name }}</h8>
		</div>
	</div>
	{% endfor %}
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% if term %}&term={{term}}{%endif%}">&laquo;</a></li>
		<li><a href="?page=1{% if term %}&term={{term}}{%endif%}">1</a></li>
		<li class="unavailable"><a href="">&hellip;</a></li>
		{% else %}
		<li class="arrow unavailable"><a href="">&laquo;</a></li>
		{% endif %}
		<li class="current"><a class="pagenum" href="">{{ page_obj.number }}</a></li>
		{% if page_obj.has_next %}
		<li class="unavailable"><a href="">&hellip;</a></li>
		<li><a href="?page={{ page_obj.paginator.num_pages }}{% if term %}&term={{term}}{%endif%}">{{ page_obj.paginator.num_pages }}</a></li>
		<li class="arrow"><a href="?page={{page_obj.next_page_number }}{% if term %}&term={{term}}{%endif%}">&raquo;</a></li>
		{% else %}
		<li class="arrow unavailable"><a href="">&raquo;</a></li>
		{% endif %}
	</ul>
{% endblock %}