{% extends "header.html" %}
{% block content %} 
<div class="row">
    <div class="large-2 columns">
    </div>
    <div class="large-10 columns">
        <div class="row">
        <div class="large-12 columns">
            <h3>Create a New Iteration of {{ program.name }}</h3>
        </div>
        <form action="{% url 'iteration_create' program.id %}" method="post">
            {% include "form_snippet.html" %}
                <div class="row"> 
                    <div class="large-6 columns">
                        <input type="submit" class="button" value="Submit!">
                    </div>
                </div>
            </form>         
        </div>
        {% endblock %}