{% extends "header.html" %}
{% block title %}
	Programs-Prisoner Express
{% endblock title%}
{% block content %}

<div class="row">
	<div class="large-12 columns">
 			<h3>Input Letter :</h3>
 			<br>
	</div>
</div>

<div class="large-8 large-offset-2 columns">
	<img src= "{{url}}">
</div>



 <div class="row">
 	<div class="large-2 columns">
    </div>
 	<div class="large-10 columns">
 		<div class="row">
 			<div class="large-12 columns">
            </div>
			<form action="" method="post">
				{% csrf_token %} 
				<div class="row">
					<div class="large-6 columns">
						Content:
						<br>
						<br>
						<label>
							<textarea type="text" name="program_name" placeholder="Please input the contents" /></textarea>
						</label>
					</div>
				</div>
				
				
				<div class="row"> 
					<div class="large-6 large-offset-2 columns">
						<input type="submit" class="button" value="submit!" name="btn_input">
					</div>
				</div>
			</form>         
		</div>
	</div>
</div>
{% endblock content %}   