
{% extends "header.html" %}
{% load staticfiles %}
{% block title %}
	Programs-Prisoner Express
{% endblock title%}
{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3> Letter List </h3>
	</div>
</div>
<div class="row">
 	<div class="large-2 columns">
 			</div>
 	<div class="large-10 columns">
 		<div class="row">
 			<div class="large-10 columns">
	 			<dl class="accordion" data-accordion>
				{% for letter in letters %} 
		  			<dd class="accordion-navigation">
		  				<a href="#panel{{forloop.counter}}">{{letter.program.name}}{{letter.prisoner.name}}  {{letter.date}}</a>
						<div id="panel{{forloop.counter}}" class="content">
							<img src= "{{letter.image.url}}">
							<p>{{letter.content}}</p>
							<a href="{% url 'letter_edit' letter.id %}" class="small radius button" >edit</a>
						</div> 
					</dd>
				{% endfor %}
				</dl>
			</div>       
		</div>
	</div>
</div>
{% endblock content %}        
{% block body_js %}
	<script src="{% static "foundation/js/foundation/foundation.accordion.js" %}"></script>
{% endblock body_js %} 
