{% extends "header.html" %}
{% block content %} 
<div class="row">
	{% if results %}
	<div data-alert class="alert-box info radius">
		{{ results }}
		<a href="#" class="close">&times;</a>
	</div>
	{% endif %}
    <div class="large-2 columns">
    </div>
    <div class="large-10 columns">
        <div class="row">
        <div class="large-12 columns">
            </div>

            <h3>Register a Letter from a Prisoner</h3>
            <form action="{% url 'new_letter' %}" method="post">
                {% csrf_token %} 
                <div class="row">
                    <div class="large-6 columns">
                        <label>Prisoner:
                        <select name="prisoner">
                        {% for prisoner in prisoners %}
                        <option value="{{ prisoner.id }}">{{ prisoner.name }}</option>
                        {% endfor %}
                        </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Program:
                        	<select name="program">
                        		{% for program in programs %}
                        		<option value="{{ program.id }}">{{ program.name }}</option>
                        		{% endfor %}
                        	</select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Enroll or Unenroll:
                        <input type="radio" name="action" value="enroll" id="enroll" checked><label for="enroll">Enroll</label>
                        	<input type="radio" name="action" value="unenroll" id="unenroll"><label for="unenroll">Unenroll</label>
                        </label>
                    </div>
                </div>
                <div class="row"> 
                    <div class="large-6 columns">
                        <input type="submit" class="button" value="Submit!">
                    </div>
                </div>
            </form>         
        </div>
    </div>
    </div>
        {% endblock %}