{% extends "header.html" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3> Prison Records </h3>
	</div>
</row>
<div class="row">
	<div class="large-offset-2 large-3 columns">
		<h5>Prison Name<h5>
		</div>
		<div class="large-7 columns">
			<h5>Prisoner Count</h5>
		</div>
	</div>
	{% for prison in object_list %}
	<div class="row">
		<div class="large-2 columns">
			<a href="{% url 'prison_details' prison.id %}" class="button small radius">View Record</a>
		</div>
		<div class="large-3 columns">
			<h8>{{ prison.name }}</h8>
		</div>
		<div class="large-7 columns">
			<h8>{{ prison.prisoner_set.all|length }}</h8>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}