{% extends "header.html" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3> {{ object.name }} </h3>
	</div>
</row>
<div class="row">
	<div class="large-4 large-offset-2 columns"> 
		<h5>Address:</h5> 
	</div>
	<div class="large-6 columns">
		<h5> {{ object.address }} </h5>
	</div>
</div>
<div class="row">
	<div class="large-4 large-offset-2 columns">
		<h5>Programs:</h5>
	</div>
	<div class="large-6 columns">
		{% for program in object.programs.all %} <div> {{ program.name }} </div> {% endfor %}
	</div>
</div>
{% endblock %}