{% extends "header.html" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3> Prisoner Records </h3>
	</div>
</row>
<div class="row">
	<div class="large-offset-2 large-3 columns">
		<h5>Prisoner Name<h5>
		</div>
		<div class="large-7 columns">
			<h5>Prison</h5>
		</div>
	</div>
	{% for prisoner in object_list %}
	<div class="row">
		<div class="large-2 columns">
			<a href="{% url 'prisoner_details' prisoner.id %}" class="button small radius">View Record</a>
		</div>
		<div class="large-3 columns">
			<h8>{{ prisoner.name }}</h8>
		</div>
		<div class="large-7 columns">
			<h8>{{ prisoner.prison.name|default:"None Specified" }}</h8>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}