{% extends "header.html" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3> {{ object.name }} </h3>
	</div>
</row>
<div class="row">
	<div class="large-2 large-offset-2 columns"> 
		<h5>Description:</h5> 
	</div>
	<div class="large-8 columns">
		<h5> {{ object.description }} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Active:</h5>
	</div>
	<div class="large-8 columns">
		<h5> {% if object.active %} Yes {% else %} No {% endif %} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Continuous:</h5>
	</div>
	<div class="large-8 columns">
		<h5> {% if object.continuous %} Yes {% else %} No {% endif %} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Participants:</h5>
	</div>
	<div class="large-8 columns">
		{% for prisoner in object.prisoners.all %} 
			<div>
				<a href="{% url "prisoner_details" prisoner.id%}"> {{ prisoner.name }} </a> 
			</div> 
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Letters:</h5>
	</div>
	<div class="large-8 columns">
		{% for letter in object.letters.all %} 
			<div>
				<img src= "{{letter.image.url}}">
			</div> 
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
	</div>
	<div class="large-4 columns">
		<a href="{% url 'program_edit' program.id %}" class="small radius button" >edit</a>
	</div>						
</div> 
</div>
{% endblock %}
