{% extends "header.html" %}
{% load staticfiles %}

{% block content %}


<div class="row">
	<div class="large-12 columns">
		<h3> {{ object.name }} </h3>
	</div>
</row>
<div class="row">
	<div class="large-2 large-offset-2 columns"> 
		<h5>Description:</h5> 
	</div>
	<div class="large-8 columns">
		<h5> {{ object.description }} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Active:</h5>
	</div>
	<div class="large-8 columns">
		<h5> {% if object.active %} Yes {% else %} No {% endif %} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Continuous:</h5>
	</div>
	<div class="large-8 columns">
		<h5> {% if object.continuous %} Yes {% else %} No {% endif %} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Print rule:</h5>
	</div>
	<div class="large-8 columns">
		<h5> {% if object.print_rule %} Yes {% else %} No {% endif %} </h5>
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Participants:</h5>
	</div>
	<div class="large-8 columns">
		{% for prisoner in object.prisoners.all %} 
			<div>
				<a href="{% url "prisoner_details" prisoner.prisoner_id %}"> {{ prisoner.name }} </a> 
			</div> 
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="large-2 large-offset-2 columns">
		<h5>Letters:</h5>
	</div>
	<div class="large-8 columns">
		<dl class="accordion" data-accordion>
		{% for letter in object.letters.all %} 
  			<dd class="accordion-navigation">
  				<a href="#panel{{forloop.counter}}">{{letter.prisoner.name}}  {{letter.date}}</a>
				<div id="panel{{forloop.counter}}" class="content">
					<img src= "{{letter.image.url}}">
				</div> 
			</dd>
		{% endfor %}
		</dl>
	</div>
</div>
<div class="row">
	<div class="large-3 columns large-offset-3">
		<a href="{% url 'iteration_create' program.id %}" class="secondary small radius button">New Iteration</a>
	</div> 
	<div class="large-3 columns">
		{% if program.get_current_iteration != None %} <a href="{% url 'iteration_details' program.get_current_iteration.id %}" class="small radius button">Current Iteration</a> {% endif %}
	</div>	
	<div class="large-3 columns">
		<a href="{% url 'program_edit' program.id %}" class="small radius button" >Edit</a>
	</div>
</div>
<div class="row">
	<div class="large-8 columns large-offset-4">
		<a href="{% url 'program_two_col_labels' program.id %}" class="small radius button" >Print Two Column Labels</a>
		<a href="{% url 'program_three_col_labels' program.id %}" class="small radius button" >Print Three Column Labels</a>
	</div>						
</div> 
</div>

{% endblock %}
{% block body_js %}
	<script src="{% static "foundation/js/foundation/foundation.accordion.js" %}"></script>
{% endblock body_js %}
