{% extends "header.html" %}

{% block content %}
<div class="row">
	<form data-abide method="post">
		  {% csrf_token %} 
		<div class="Username-field">
			<label>UserName <small>required</small>
				<input type="text" name="username" class="radius">
			</label>
			<small class="error">Username can be a-zA-Z0-9_</small>
		</div>
		<div class="Password-field">
			<label>Password <small>required</small>
				<input type="password" name="password" class="radius" required>
			</label>
			<small class="error">error password.</small>
		</div>
		<button id="form1" class="small radius" type="submit">Login</button>
		<a href="{% url "user_register"%}" id="form2" class="button small radius">Register</a>
	</form>
</div>
{% endblock %}