 {% extends "header.html" %}
 {% block content %}
 <div class="row">
	<div class="large-12 columns">
		<h3> Create Program </h3>
	</div>
</div>
 <div class="row">
 	<div class="large-2 columns">
    </div>
 	<div class="large-10 columns">
 		<div class="row">
 			<div class="large-12 columns">
            </div>
 				<form action="{% url 'program_create' %}" method="post">
 					{% csrf_token %} 
 					<div class="row">
 						<div class="large-6 columns">
 							<label>Program Name:
 								<input type="text" class="radius" name="program_name" placeholder="Name" />
 							</label>
 						</div>
 					</div>
 					<div class="row">
 						<div class="large-6 columns">
 							<label>Description:
 								<input type="text"  class="radius" name="program_description" placeholder="Describe the program" />
 							</label>
 						</div>
 					</div>
 					<div class="row"> 
 						<div class="large-6 columns">
 							<input type="submit" class=" radius button" value="Create!">
 						</div>
 					</div>
 				</form>         
 			</div>
 		</div>
 	</div>
 	{% endblock content %}         
