*{ border-bottom: none;
}

h2,h5{
    color:#0ABC98;
}
h3{
    color:#526cc4;
}
.button, button{
    background:#fff;
    color:#526cc4;
    padding:20px;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    margin-right:20px;
}
form> button, form > .button{
    margin:20px;
}
label{
    color:#0ABC98;
    font-size:110%;
}
.button:hover, button:hover{
    background: #f4f4f4;
	color:#526cc4;
}

 ul.pagination li.current a:hover, ul.pagination li.current a:focus{
   background: #f4f4f4; 
 }
 
#contact{
  box-shadow: 2px 2px 4px #455ca9;  
}
 ul.pagination li.current a{
    color:#fff;
    background:#526cc4;
    font-weight:bold;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    
 }
h4.bot{
    color:white;
    text-align: left;
}
h4{
    color:#0ABC98;
    text-align:center;
}


p.msg{
    color:white;
}

#home-panel{
    overflow:hidden;
    padding:30px 40px;
    margin:10px auto;
    border:none;
    background:#6087D7;
    height:150px;
	width:94%;
    
}
.foot{
	text-align:center;
}
hr{
	width:95%;
	margin-right:auto;
	margin-left:auto;
}
#footer{
	margin-right:auto;
	margin-left:auto;
}
p.foot {
   color:#00BC91;
   font-size:80%;
}
.home-img{
    border-radius:3px;
    box-shadow: 2px 2px 8px #c0c0c0;
    margin-bottom:10px;
}
#home-4-col1, #home-4-col2, #home-4-col3{
    padding-left:20px;
    padding-right:20px;
}

a:hover .home-img{
    opacity:0.8; 
}

input[type="text"], input[type="password"]{
    width:350px;
}

.reg{
	margin-left:100px;
	margin-bottom:-10px;
}
form{
    margin:50px;
}
label small{
    color:#6087D7; 
}
.roll{
	color:#526cc4;
}
.rolls{
	/*color:#6087D7;*/
	background:black;

	
}
input[type="file"]{
	margin:20px 0px;
	color:#6087D7;
}


#top-bar{
    height:70px;
    line-height: 70px;
    margin-bottom:40px;
    background:#fff;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    
}
#top-bar .name{
    height:70px;
	margin-left:50px;
}
#top-bar .name h1{
    line-height:70px;
    color:#0ABC98;
    display: block;
    padding: 0px 25px;
    font-size:28px;  
}
#top-bar-section ul{
 margin-right: 100px;
 background:white;

}
 
 input[type="submit"]{
	margin-top:25px;

 }
 
#top-bar-section ul li{
    height:70px;
    background:white;
    
}

#top-bar-section .has-form {
    font-size:18px;
    line-height: 50px;
}

#top-bar-section ul li a{
    line-height: 70px;
    background:#fff;
    color:#526cc4;
    padding:0px 25px;
    font-size:20px;
   
}

#top-bar-section ul li a.search {
    line-height: 40px;
    top:20%;
    padding:0px 0px;
}

#top-bar-section li a{
    background:white;
}
#top-bar-section .has-dropdown > a:after{
    border-color: rgba(82, 108, 195, 0.2) transparent transparent transparent;
    top:50%; 
}
#top-bar-section ul li > a:hover,#top-bar-section ul li a.nav-selected, #top-bar-section ul li a.nav-path-selected {
	background: #f4f4f4;
	color:#6087D7;
}
#top-bar-section ul li.active>a{
    background: #f4f4f4;
	color:#6087D7;
}

#top-bar-section .dropdown {
    right:auto;
	left:auto;
  -webkit-box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
}
#top-bar-section .dropdown li{
    border-top:1px solid #eee;
    height:35px;
   

}
#top-bar-section .dropdown li a{
    line-height: 35px;
    font-size:14px;
    text-align:center;
    padding:0px 10px;
}
#top-bar-section > ul > .divider, #top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #eee;
      clear: none;
      height: 70px;
      width: 0; }
#top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 70px;
    background: #f4f4f4;
	color:#6087D7;
}
#top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #0078a0;
    color: white;
}
